Source: protonvpn-session
Section: python
Priority: optional
Maintainer: Proton Technologies AG <opensource@proton.me>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, python3-proton-core, python3-proton-vpn-logger, python3-nacl, python3-distro
Standards-Version: 4.1.1
X-Python3-Version: >= 3.8

Package: python3-proton-vpn-session
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-proton-core, python3-proton-vpn-logger, python3-nacl, python3-distro
Recommends: python3-tabulate
Breaks: python3-proton-vpn-api-core (<< 0.20.2), proton-vpn-gtk-app (<< 4.1.3)
Description: Python3 ProtonVPN Session
